#about .container {
  padding: 48px 32px;
  background: white;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem;
  align-items: center;
}

/* about-image */
.about-image {
  border: 6px solid var(--color-primary);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.about-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* img sẽ lấp đầy bố*/
}

/* about-content */
.about-content {
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-content .lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.about-content p {
  color: var(--color-text);
}

/* mobile */
@media (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
  .about-image {
    height: 200px;
    width: 200px;
  }
}
