:root {
  --color-primary: #6366f1; /* Indigo */
  --color-secondary: #8b5cf6; /* Purple */
  --color-dark: #1e293b; /* Slate dark */
  --color-light: #f8fafc; /* Slate light */
  --color-text: #334155; /* Slate text */
  --color-yellow: rgb(251, 191, 36);
  --color-bar-track: #e2e8f0;
  --font-main: "Segoe UI", sans-serif;
}
